@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Smooch&display=swap");
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
[class*="__container"] {
  max-width: 1452px;
  margin: 0 auto;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
body {
  transition: 0.5s;
}
/* Navigation */

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.logoParent a {
  font-size: 82px;
  color: #0ca296;
  font-family: "Smooch", serif;
  text-decoration: none;
}
.navParent ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navParent a {
  font-size: 18px;
  color: black;
  font-family: "Arial", sans-serif;
}

/* Home */

.home__container {
  margin-top: 86px;
}
.bgImg {
  background-image: url(../img/img1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 812px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.homeContent {
  margin-left: 10px;
}
.homeContent div {
  justify-content: space-between;
  display: flex;
  align-items: center;
  color: white;
}
.exploreC {
  padding-left: 350px;
}
.homeContentH1 {
  color: #ffc700;
  font-size: 150px;
  font-family: "Smooch", serif;
  text-shadow: -2px 1px 4px #000000;
}
.homeContentH1-2 {
  color: white;
  font-size: 255px;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  text-shadow: -2px 1px 4px #000000;
}
.fa-bounce {
  cursor: pointer;
  font-size: 35px;
  margin-top: 10px;
  text-shadow: -2px 1px 4px #000000;
}

/* Destination */

.linearParent__container {
  background: linear-gradient(
    180deg,
    #00beac 43.53%,
    rgba(0, 190, 172, 0) 100%
  );
  height: 1012px;
}

.centerContent {
  text-align: center;
  padding-top: 81px;
  align-items: center;
  position: relative;
}
.centerContent :nth-child(1) {
  color: #ffc700;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  top: 0;
  font-size: 125px;
  font-family: "Smooch", serif;
}
.centerContent :nth-child(3) {
  color: white;
  font-size: 80px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
}
.centerContent :nth-child(5) {
  border-radius: 20px;
  width: 20px;
  background-color: #41d6c7;
  padding-top: 14px;
  position: absolute;
}
.linearContentDiv {
  color: white;
  text-align: center;
  align-items: center;
  padding-top: 32px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 26px;
}
.imgParent {
  margin: 0 auto;
  justify-content: center;
  gap: 20px;
  display: flex;
  padding-top: 90px;
  flex-wrap: wrap;
  cursor: pointer;
  transition: 0.5s;
}
.imgParent img {
  border-radius: 10px;
}
.contentDiv {
  font-family: "Roboto", serif;
  text-shadow: -2px 1px 4px #000000;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 364px;
  bottom: 0;
  opacity: 0;
  transition: 0.5s;
  color: white;
}
.contentMain:hover .contentDiv {
  opacity: 1;
}
.contentDiv :nth-child(1) {
  font-weight: 900;
  font-size: 40px;
}
.contentMain {
  position: relative;
}
.contentMain img {
  transition: 0.5s;
}
.contentMain:hover img {
  opacity: 0.5;
}

/* Explore */

.explorehead {
  align-items: center;
  text-align: center;
}

.explorehead :nth-child(1) {
  font-size: 125px;
  font-family: "Smooch", serif;
  font-weight: 400;
  color: #0ca296;
}

.explorehead :nth-child(2) {
  font-family: "Roboto", serif;
  font-weight: 900;
  font-size: 80px;
}

.explorehead :nth-child(3) {
  background-color: #cbe7e4;
  margin: 0 auto;
  width: 20px;
  padding-top: 14px;
  border-radius: 20px;
}

.explorehead :nth-child(4) {
  font-size: 26px;
  font-family: "Roboto", serif;
  color: #565656;
  margin-top: 32px;
}

/* Display grid part */

.display_grid {
  display: grid;
  margin-top: 90px;
  margin-left: 90px;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  cursor: pointer;
}
.display_grid img {
  transition: 0.5s;
}

.display_grid :hover .grid-1_content {
  opacity: 1;
  transform: translateY(30px);
}
.display_grid :hover .grid-2_content {
  opacity: 1;
  transform: translateY(30px);
}
.display_grid :hover .grid-3_content {
  opacity: 1;
  transform: translateY(30px);
}
.display_grid :hover .grid-4_content {
  opacity: 1;
  transform: translateY(30px);
}

.grid-1_content {
  position: absolute;
  color: rgb(255, 255, 255);
  left: 0;
  top: 365px;
  bottom: 0;
  right: 0;
  font-family: "Roboto", serif;
  font-size: 50px;
  text-align: center;
  text-shadow: -2px 1px 4px #000000;
  opacity: 0;
  transition: 0.5s;
}
.grid-1_content :nth-child(1) {
  font-weight: 900;
  font-size: 30px;
}
.grid-1_content :nth-child(2) {
  font-weight: 700;
  font-size: 26px;
}
.grid-2_content {
  position: absolute;
  color: rgb(255, 255, 255);
  left: 0;
  top: 223px;
  bottom: 0;
  right: 0;
  font-family: "Roboto", serif;
  font-size: 50px;
  text-align: center;
  text-shadow: -2px 1px 4px #000000;
  opacity: 0;
  transition: 0.5s;
}
.grid-2_content :nth-child(1) {
  font-weight: 900;
  font-size: 30px;
}
.grid-2_content :nth-child(2) {
  font-weight: 700;
  font-size: 26px;
}

.grid-3_content {
  position: absolute;
  color: rgb(255, 255, 255);
  left: 0;
  top: 223px;
  bottom: 0;
  right: 0;
  font-family: "Roboto", serif;
  font-size: 50px;
  text-align: center;
  text-shadow: -2px 1px 4px #000000;
  opacity: 0;
  transition: 0.5s;
}
.grid-3_content :nth-child(1) {
  font-weight: 900;
  font-size: 30px;
}
.grid-3_content :nth-child(2) {
  font-weight: 700;
  font-size: 26px;
}

.grid-4_content {
  position: absolute;
  color: rgb(255, 255, 255);
  left: 0;
  top: 195px;
  bottom: 0;
  right: 0;
  font-family: "Roboto", serif;
  font-size: 50px;
  text-align: center;
  text-shadow: -2px 1px 4px #000000;
  opacity: 0;
  transition: 0.5s;
}
.grid-4_content :nth-child(1) {
  font-weight: 900;
  font-size: 30px;
}
.grid-4_content :nth-child(2) {
  font-weight: 700;
  font-size: 26px;
}
.grid-1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
  position: relative;
}
.grid-2 {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  position: relative;
}

.grid-3 {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
  position: relative;
}
.grid-4 {
  grid-row: 2 / span 1;
  grid-column: 2 / span 2;
  position: relative;
}

/* Display grid part  end*/

/* footer */

.footer__container {
  margin-top: 21px;
}

.bgfooter {
  background: linear-gradient(
      0deg,
      rgba(153, 79, 45, 0) 26%,
      rgb(255 240 240 / 0%) 0%,
      rgb(255 255 255) 100%
    ),
    url(../img/footerbg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 523px;
  position: relative;
  top: 250px;
}

.footerParent {
  height: 502px;
  background-color: #003531;
  z-index: -100;
}

.footerContent {
  padding-top: 225px;
  text-align: start;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: "Roboto", serif;
}
.footerContent a {
  color: rgba(255, 255, 255, 0.678);
}
.footerContent li {
  padding-top: 5px;
}
.icons {
  font-size: 25px;
  margin-top: 20px;
  cursor: pointer;
}
.mainHref {
  font-weight: bold;
  font-size: 25px;
}
.secondMg {
  margin-top: 20px;
}
